# For custom projects, if you want them in an ignored directory.
# If you want to keep the projects in a non-ignored directory, just pick a different name.
src/proj

# The command to start the viewer of the custom projects.
# You can use cmds/set-up-custom-projects-dir to create this script (as a symlink).
cmds/projects-viewer

.idea
